---
import { Button } from "@/components/ui/button";
---

<div id='container'>
  <div class='grid place-items-center h-screen content-center'>
    <Button>Iglesia evangelista</Button>
  </div>
</div>
